.btn-edit{
    position: absolute;
    margin-top: -7em;
    left:80%;
}
.btn-add{
    position: absolute;
    left: 86%;
    z-index: 3;
    margin-top: 1.1em;
    font-size: larger;
    color: #3880ff;
    font-weight: bolder;
}
input{
    width: 3em;
    margin-right: 0.2em;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
}
ion-list-header{
    text-align: center;
    color: black;
    background: #f4f5f8;
    margin: 0 10px 0 10px;
    width: 95%;
}
ion-item-sliding{
    width: 95%;

    ion-label{
        padding: 0 10px 0 10px;
        font-size: smaller;
    }
}
