<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button ></ion-back-button>
        </ion-buttons>
        <ion-title>GR/GRPO Receiving</ion-title>
        <ion-buttons slot="end" class="header-right-btn">
            Confirm
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item>
          <ion-label>
            <p>Center</p>
            <span>U Mobile Warehouse</span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>DO No</p>
            <span>P10001</span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>PO No</p>
            <span>P10001</span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>AWB No</p>
            <span>P10001</span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Subject</p>
            <span>P10001</span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Received</p>
            <span>25/08/2016</span>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-label (click)="toggle()">
            <p>Remark</p>
            <span>P10001</span>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="isVisible">
          <ion-label>
            <p>Status</p>
            <span>Pending</span>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab-button class="btn-position-right">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <span class="collapse"></span>
      <br />
      
      <ion-list>
        <ion-item-divider>
          <ion-label>
            Items (2)
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
             <p>iPhone 4 16GB</p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
