<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="close"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="forgotPasswordForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" [class.invalid]="
          !forgotPasswordForm.controls.email.valid &&
          forgotPasswordForm.controls.email.dirty
        " type="email" clearInput>
      </ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="
        !forgotPasswordForm.controls.email.valid &&
        forgotPasswordForm.controls.email.dirty
      ">
      <p class="errorMessage">Please enter a valid email.</p>
    </ion-item>

    <br />

    <ion-button [disabled]="!forgotPasswordForm.valid" (click)="forgotPassword(fab)" expand="block">
      Confirm Forgot Password
    </ion-button>
  </form>
</ion-content>