<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
          </ion-buttons>
          <ion-title>Edit GR</ion-title>
          <ion-buttons slot="end" class="header-right-btn">
              Save
            </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label><span>Center</span>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select Center">
                <ion-select-option value="brown">U Mobile Warehouse A</ion-select-option>
                <ion-select-option value="blonde">U Mobile Warehouse B</ion-select-option>
                <ion-select-option value="black">U Mobile Warehouse C</ion-select-option>
                <ion-select-option value="red">U Mobile Warehouse D</ion-select-option>
              </ion-select>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
          DO No 
        </ion-label>
        <ion-icon slot="end" name="camera"></ion-icon>
        <br/>
          <ion-input></ion-input>
        
    </ion-item>
</ion-content>
