<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="home-title">
    <h2>
      IWA-Home
    </h2>
    <p>Welcome {{ name }} of {{ centerName }}</p>
  </div>
</ion-header>

<ion-content padding>
  <ion-row class="icon-container">
    <ion-col [routerLink]="['/stock-upload-listing']">
      <img
        src="assets/images/goodsReceive.png"
        height="40"
        width="auto"
        class="home-icon"
      />
      <p>GR</p>
    </ion-col>
    <ion-col>
      <img
        src="assets/images/Return.png"
        height="40"
        width="auto"
        class="home-icon"
      />
      <p>Return</p>
    </ion-col>
    <ion-col>
      <img
        src="assets/images/Delivery.png"
        height="40"
        width="auto"
        class="home-icon"
      />
      <p>Delivery</p>
    </ion-col>
    <ion-col>
      <img
        src="assets/images/SalesOrder2.png"
        height="40"
        width="auto"
        class="home-icon"
      />
      <p>SO</p>
    </ion-col>
  </ion-row>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Modules</ion-label>
    </ion-list-header>
    <ion-item [routerLink]="['/inventory']">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/distribution']">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Distribution</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/home']">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Transfer</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
