<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Fulfillment</ion-title>
  </ion-toolbar>
  <ion-searchbar
    placeholder="Order No."
    (ionChange)="setFilteredItem(searchTerm)"
    (ionClear)="resetAndAssignArrayList()"
    [(ngModel)]="searchTerm"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item
      (click)="onViewDetails(item.OrderID, item.FulfillmentID)"
      *ngFor="let item of fulfillmentIndexResponse.FulfillmentIndexList"
    >
      <ion-label>
        <span>{{ item.Center }}</span>
        <p>Order No: {{ item.OrderID }}</p>
      </ion-label>
    </ion-item>  
  </ion-list>

  <ion-fab class="btn-position-right">
    <ion-fab-button>
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/home']"
        ><ion-icon name="home"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="footer-space"></div>
</ion-content>
